@using Abp.Timing
@using Afonsoft.Portal.UiCustomization.Dto
@using CultureHelper = Afonsoft.Portal.Localization.CultureHelper
@{
    Layout = null;
    UiCustomizationSettingsDto theme = await GetTheme();
}
<!DOCTYPE html>
<html lang="en" amp dir=@(CultureHelper.IsRtl ? "rtl" : "")>
<head>
    <meta charset="utf-8" />

    <title>Portal</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />

    @* Fill these meta tags upon your project specification *@
    <meta content="Portal Afonsoft" name="description" />
    <meta content="Portal Afonsoft API" name="keywords" />
    <meta content="Afonso Dutra Nogueira Filho" name="author" />

    <link rel="shortcut icon" href="~/favicon.ico" />

    <link rel="stylesheet" abp-href="/view-resources/Areas/App/Views/_Bundles/vendors.bundle.css" asp-append-version="true" />
    <link rel="stylesheet" href="@(ApplicationPath)metronic/themes/default/css/style.bundle@(CultureHelper.IsRtl ? ".rtl":"").css" asp-append-version="true" />
    <link rel="stylesheet" abp-href="/view-resources/Areas/App/Views/_Bundles/common-styles.css" asp-append-version="true" />
    <link rel="stylesheet" abp-href="@(ApplicationPath)metronic/common/css/error-5@(CultureHelper.IsRtl ? ".rtl":"").css" asp-append-version="true" />

    @if (CultureHelper.IsRtl)
    {
        <link rel="stylesheet" href="/Common/Styles/abp-zero-template-rtl.css" asp-append-version="true" />
    }

    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style>
    <noscript>
        <style amp-boilerplate>
            body {
                -webkit-animation: none;
                -moz-animation: none;
                -ms-animation: none;
                animation: none
            }
        </style>
    </noscript>

    <script type="text/javascript">
        @* This is used to get the application's root path from javascript.
        It's useful if you're running application in a virtual directory under IIS. *@
        var abp = abp || {}; abp.appPath = '@ApplicationPath';
    </script>

</head>
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed">
    <div class="kt-grid kt-grid--ver kt-grid--root">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-error-v5" style="background-image: url(@(ApplicationPath)metronic/common/images/bg/bg5.jpg);">
            @RenderBody()
        </div>
    </div>

    <script abp-src="/view-resources/Areas/App/Views/_Bundles/account-layout-libs.js" asp-append-version="true"></script>

    <script type="text/javascript">
        abp.localization.defaultSourceName = '@LocalizationSourceName';
    </script>

    <!-- Dynamic scripts of ABP system (They are created on runtime and can not be bundled) -->
    <script src="@(ApplicationPath)AbpScripts/GetScripts?v=@(Clock.Now.Ticks)" type="text/javascript"></script>
</body>

</html>
