@using Afonsoft.Portal.Web.Resources

@inject IWebResourceManager WebResourceManager
@{
    WebResourceManager.AddScript(ApplicationPath + "view-resources/Areas/App/Views/_Bundles/morris.min.js");
    WebResourceManager.AddScript(ApplicationPath + "view-resources/Areas/App/Views/_Bundles/raphael.min.js");
    WebResourceManager.AddScript(ApplicationPath + "view-resources/Areas/App/Views/_Bundles/jquery.flot.min.js");
    WebResourceManager.AddScript(ApplicationPath + "view-resources/Areas/App/Views/_Bundles/jquery.waypoints.min.js");
    WebResourceManager.AddScript(ApplicationPath + "view-resources/Areas/App/Views/_Bundles/jquery.counterup.min.js");
    WebResourceManager.AddScript(ApplicationPath + "view-resources/Areas/App/Views/_Bundles/topojson.min.js");
    WebResourceManager.AddScript(ApplicationPath + "view-resources/Areas/App/Views/_Bundles/jquery.easypiechart.min.js");
    WebResourceManager.AddScript(ApplicationPath + "view-resources/Areas/App/Views/_Bundles/chartist.min.js");
}
<div class="kt-portlet kt-portlet--height-fluid HostTopStatsContainer">
    <div class="kt-portlet__body kt-portlet__body--fit">
        <div class="row row-no-padding row-col-separator-xl">
            <div class="col-md-12 col-lg-6 col-xl-3">
                <div class="kt-widget24 new-subscription-statistics">
                    <div class="kt-widget24__details">
                        <div class="kt-widget24__info">
                            <h4 class="kt-widget24__title"> @L("NewSubscriptionAmount") </h4>
                            <span class="kt-widget24__desc float-left"> @L("Subscriptions") </span>
                        </div>
                        <span class="kt-widget24__stats kt-font-brand">  $<span class="new-subscription-amount counterup">...</span></span>
                    </div>
                    <div class="progress progress--sm">
                        <div class="progress-bar kt-bg-brand" aria-valuemax="100" aria-valuemin="0" aria-valuenow="100" role="progressbar" style="width: 100%;"></div>
                    </div>
                    <div class="kt-widget24__action">
                        <span class="kt-widget24__change"><div class="status-title"></div> </span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 col-xl-3">
                <div class="kt-widget24 new-tenants-statistics">
                    <div class="kt-widget24__details">
                        <div class="kt-widget24__info">
                            <h4 class="kt-widget24__title"> @L("NewTenants") </h4>
                            <span class="kt-widget24__desc float-left"> @L("Tenants") </span>
                        </div>
                        <span class="kt-widget24__stats kt-font-brand">  <span class="new-tenants-count counterup">...</span></span>
                    </div>
                    <div class="progress progress--sm">
                        <div class="progress-bar kt-bg-brand" aria-valuemax="100" aria-valuemin="0" aria-valuenow="100" role="progressbar" style="width: 100%;"></div>
                    </div>
                    <div class="kt-widget24__action">
                        <span class="kt-widget24__change"><div class="status-title"></div> </span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 col-xl-3">
                <div class="kt-widget24 dashboard-statistics1">
                    <div class="kt-widget24__details">
                        <div class="kt-widget24__info">
                            <h4 class="kt-widget24__title"> @L("DashboardSampleStatistics") 1 </h4>
                            <span class="kt-widget24__desc float-left"> @L("DashboardSampleStatistics") </span>
                        </div>
                        <span class="kt-widget24__stats kt-font-danger">  <span class="dashboard-placeholder1 counterup">...</span></span>
                    </div>
                    <div class="progress progress--sm">
                        <div class="progress-bar kt-bg-danger" role="progressbar" style="width: 45%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="kt-widget24__action">
                        <span class="kt-widget24__change">
                            @L("DashboardSampleStatisticsHelpText")
                        </span>
                        <span class="kt-widget24__number">
                            <span class="counterup">45</span>%
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 col-xl-3">
                <div class="kt-widget24 dashboard-statistics2">
                    <div class="kt-widget24__details">
                        <div class="kt-widget24__info">
                            <h4 class="kt-widget24__title"> @L("DashboardSampleStatistics") 2 </h4>
                            <span class="kt-widget24__desc float-left"> @L("DashboardSampleStatistics") </span>
                        </div>
                        <span class="kt-widget24__stats kt-font-success">  <span class="dashboard-placeholder2 counterup">...</span></span>
                    </div>
                    <div class="progress progress--sm">
                        <div class="progress-bar kt-bg-success" role="progressbar" style="width: 65%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="kt-widget24__action">
                        <span class="kt-widget24__change">
                            @L("DashboardSampleStatisticsHelpText")
                        </span>
                        <span class="kt-widget24__number">
                            <span class="counterup">65</span>%
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>